
.container-services{
    height: 600px; 
    /* //we shoud remove this after the carrousel is done to auto */
}
.titleServices{
    font-size: 40px;
    color: #3C3D3E;
}

.container-services {
  height: auto;
}

.titleServices {
  font-size: 40px;
  color: #3c3d3e;
}

.carousel-container {
  overflow: hidden;
  position: relative;
  margin-bottom: 8rem;
}

.cards-wrapper {
  display: flex;
}

.cards-wrapper:hover {
  animation-play-state: paused;
}

.card {
  flex: 0 0 auto;
  width: 250px; 
  margin-right: 16px; 
  padding: 16px;
  background-color: #3c3d3e; 
  height: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center content */
  align-items: center; /* Horizontally center content */
  text-align: center;
  color: #ffffff
}
/* .card:hover{
  transition: transform 0.3s ease, width 0.3s ease; 
}

@keyframes cardAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 6 - 16px * 5)); 
  }
}  */