
.container-services{
    height: 600px; 
    /* //we shoud remove this after the carrousel is done to auto */
}
.titleServices{
    font-size: 40px;
    color: #3C3D3E;
}

.container-services {
  height: auto;
}

.titleServices {
  font-size: 40px;
  color: #3c3d3e;
}

.carousel-container {
  overflow: hidden;
  position: relative;
  margin-bottom: 8rem;
}

.cards-wrapper {
  display: flex;
  /* animation: cardAnimation 20s linear infinite;  */
  white-space: nowrap; /* Prevent cards from wrapping to the next line */}
.cards-wrapper:hover {
  animation-play-state: paused;
}

.card {
  flex: 0 0 auto;
  width: 250px; /* Adjust the card width as needed */
  margin-right: 16px; /* Adjust the margin between cards as needed */
  padding: 16px; /* Adjust the padding within the cards as needed */
  background-color: #3c3d3e; /* Set the background color as needed */
  height: 300px;
  border-radius: 20px;
  /* transition: transform 0.3s ease, width 0.3s ease; */
}
/* .card:hover{
  transition: transform 0.3s ease, width 0.3s ease; 
}

@keyframes cardAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 6 - 16px * 5)); 
  }
}  */